@media print {
    body {
        background-color: white;
    }
    .screen {
        display: none;
    }
    .print {
        display: block;
    }
    .buttonWrapper {
        display: none;
    }
    .s1 {
        font-family: Times New Roman;
        font-size: 11px;
        color: #000000;
        font-weight: bold;
        font-style: normal;
        background-color: transparent;
        text-align: Center;
        vertical-align: Top;
    }

    .s2 {
        font-family: Times New Roman;
        font-size: 11px;
        color: #000000; /* font-weight: bold; */
        font-style: normal;
        background-color: transparent;
        text-align: Left;
        vertical-align: Top;
    }

    .s3 {
        font-family: Times New Roman;
        font-size: 11px;
        color: #000000;
        font-style: normal;
        background-color: transparent;
        text-align: Left;
        vertical-align: Top;
    }

    .s4 {
        font-family: Times New Roman;
        font-size: 10px;
        color: #000000; /*font-weight: bold; */
        font-style: normal;
        background-color: transparent;
        text-align: Left;
        vertical-align: Top;
    }

    .s7 {
        font-family: Times New Roman;
        font-size: 13px;
        color: #000000;
        font-weight: bold;
        font-style: normal;
        background-color: transparent;
        text-align: Center;
        vertical-align: Top;
    }

    .s8 {
        font-family: Times New Roman;
        font-size: 13px;
        color: #000000;
        font-weight: bold;
        font-style: normal;
        background-color: transparent;
        text-align: Left;
        vertical-align: Top;
    }

    .s12 {
        font-family: Times New Roman;
        font-size: 11px;
        color: #000000;
        font-style: normal;
        background-color: transparent;
        text-align: Left;
        vertical-align: Middle;
    }

    .s13 {
        font-family: Times New Roman;
        font-size: 11px;
        color: #000000;
        font-weight: bold;
        font-style: normal;
        background-color: transparent;
        border-color: #000000;
        border-style: solid;
        border-left-width: 1;
        border-right-width: 1;
        border-top-width: 1;
        border-bottom-width: 1;
        text-align: Center;
        vertical-align: Top;
    }

    .s14 {
        font-family: Times New Roman;
        font-size: 11px;
        color: #000000;
        font-weight: bold;
        font-style: normal;
        background-color: transparent;
        border-color: #000000;
        border-style: solid;
        border-left-width: 1;
        border-right-width: 1;
        border-top-width: 0;
        border-bottom-width: 1;
        text-align: Center;
        vertical-align: Top;
    }

    .s18 {
        font-family: Times New Roman;
        font-size: 9px;
        color: #000000;
        font-style: normal;
        background-color: transparent;
        text-align: Left;
        vertical-align: Top;
    }

    .s19 {
        font-family: Times New Roman;
        font-size: 13px;
        color: #000000;
        font-weight: bold;
        font-style: normal;
        background-color: transparent;
        text-align: Left;
        vertical-align: Top;
    }

    .s21 {
        font-family: Times New Roman;
        font-size: 9px;
        color: #000000;
        font-weight: bold;
        font-style: normal;
        background-color: transparent;
        text-align: Center;
        vertical-align: Top;
    }

    .s22 {
        font-family: Times New Roman;
        font-size: 9px;
        color: #000000;
        font-style: normal;
        background-color: transparent;
        text-align: Center;
        vertical-align: Top;
    }

    .s23 {
        font-family: Times New Roman;
        font-size: 10px;
        color: #000000; /*font-weight: bold; */
        font-style: normal;
        background-color: #FFFFFF;
        text-align: Left;
        vertical-align: middle;
    }

    .s25 {
        font-family: Times New Roman;
        font-size: 13px;
        color: #000000;
        font-weight: bold;
        font-style: normal;
        background-color: #FFFFFF;
        text-align: Center;
        vertical-align: Middle;
    }

    .s26 {
        font-family: Times New Roman;
        font-size: 11px;
        color: #000000;
        font-weight: bold;
        font-style: normal;
        background-color: #FFFFFF;
        text-align: Center;
        vertical-align: Middle;
    }

    .s33 {
        font-family: Times New Roman;
        font-size: 11px;
        color: #000000;
        font-style: normal;
        background-color: #FFFFFF;
        border-color: #000000;
        border-style: solid;
        border-left-width: 0px;
        border-right-width: 0;
        border-top-width: 0px;
        border-bottom-width: 0px;
        text-align: Center;
        vertical-align: Top;
    }

    .s38 {
        font-family: Times New Roman;
        font-size: 11px;
        color: #000000;
        font-style: normal;
        background-color: #FFFFFF;
        border-color: #000000;
        border-style: solid;
        border-left-width: 0px;
        border-right-width: 0;
        border-top-width: 0px;
        border-bottom-width: 0px;
        text-align: Center;
        vertical-align: Middle;
    }

    .s43 {
        font-family: Times New Roman;
        font-size: 11px;
        color: #000000;
        font-weight: bold;
        font-style: normal;
        background-color: transparent;
        border-color: #000000;
        border-style: solid;
        border-left-width: 0px;
        border-right-width: 1;
        border-top-width: 1;
        border-bottom-width: 1;
        text-align: Center;
        vertical-align: Top;
    }

    .s44 {
        font-family: Times New Roman;
        font-size: 11px;
        color: #000000;
        font-weight: bold;
        font-style: normal;
        background-color: transparent;
        border-color: #000000;
        border-style: solid;
        border-left-width: 0px;
        border-right-width: 1;
        border-top-width: 0;
        border-bottom-width: 1;
        text-align: Center;
        vertical-align: Top;
    }

    .st10 {
        font-family: Times New Roman;
        font-size: 10px;
        color: #000000; /*font-weight: bold; */
        font-style: normal;
        background-color: transparent;
        text-align: Left;
        vertical-align: Top;
    }

    .chrome .tbl_bottom tr td:first-child {
        display: none;
    }

    .chrome .tbl_bottom tr:nth-last-child(2) {
        display: inherit;
    }

    table.payments {
        border-color: Black;
        border-left: 1px solid;
        border-top: 1px solid;
        /*margin-left: auto;*/
        font-size: 8px;
        text-align: center;
    }

    .payments td {
        border-right: 1px solid;
        border-bottom: 1px solid;
        padding-left: 3px;
        padding-right: 3px;
    }
}