section.info
	.container
		.contacts
			h2.title Наши контакты
			.row
				.col-sm-6.col-xs-12
					.contacts-title Siemens Healthineers Казахстан
					.contacts-text
						ul
							li ТОО «Сименс Здравоохранение»
							li 050059, Республика Казахстан, г. Алматы, проспект Достык, 
							li 117/6, Бизнес-центр «Хан-Тенгри»
				.col-sm-6.col-xs-12
					.phones
						.phones-title Ответим на все Ваши вопросы по телефону
						.phones-item
							.phones-item-prefix Тел:
							.phones-item-link 
								a(href="tel: 87272345678") +7(727) 234-56-78
							.phones-item-sign (техническая служба)					
						.phones-item
							.phones-item-prefix Тел:
							.phones-item-link 
								a(href="tel: 87272345678") +7(727) 234-56-78
							.phones-item-sign (техническая служба)