<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
html(lang="en")
	include _head.pug
	body
		//- include _header.pug
		main.page-content(role="main")
			block content
			//- include _footer.pug
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
		script(src="../js/all.min.js")
