.elipce
    .modal
        .modal-close x
        .modal-title САҚТАНДЫРУ ТАЛАПТАРЫ / УСЛОВИЯ СТРАХОВАНИЯ
        .modal-content
            table
                tr
                    td.
                        1. Сақтандырылушы тұлғаның Қазақстан
                        Республикасының азаматтық заңдарында белгiленген,
                        жоғары қауiптілік көзi ретіндегі көлiк құралын пайдалану
                        нәтижесiнде үшiншi тұлғалардың өмiрiне, денсаулығына
                        және (немесе) мүлкiне келтiрiлген зиянды өтеу мiндетiне
                        байланысты мүлiктiк мүддесi көлiк құралдары иелерiнiң
                        азаматтық-құқықтық жауапкершілігiн мiндеттi
                        сақтандыру объектiсi болып табылады.<br/>
                        2. Сақтандырылушының көлiк құралдары иелерiнiң
                        азаматтық-құқықтық жауапкершiлiгiн мiндеттi
                        сақтандыру шартында (бұдан әрі - Шарт) көрсетiлген
                        көлiк құралдарын пайдалануы нәтижесiнде жәбiрленушi
                        деп танылған адамдардың өмiрiне, денсаулығына және
                        (немесе) мүлкiне келтiрiлген зиянды өтеу бойынша
                        сақтандырылушының азаматтық-құқықтық
                        жауапкершiлiгiнiң басталу фактici сақтандыру жағдайы
                        деп танылады.<br/>
                        3. Бiр сақтандыру жағдайы (сақтандыру сомасы)
                        бойынша сақтандырушы жауапкершілігiнiң шектi көлемi
                        мынаны құрайды (айлық есептiк көрсеткiшпен):<br/>
                        1) әрбiр жәбiрленушiнiң өмiрiне немесе денсаулығына
                        келтiрiлген зиян үшiн және ол мыналарға әкеп соқса:<br/>
                        қайтыс болуына – 2000;<br/>
                        мүгедектiктiң:<br/>
                        I тобы белгiленуiне – 1600;<br/>
                        II тобы белгiленуiне – 1200;<br/>
                        III тобы белгiленуiне – 500;<br/>
                        «мүгедек балаға» – 1000;<br/>
                        мертiгуге, жарақаттануға немесе денсаулықтың
                        мүгедектiк белгіленбеген өзге де бұзылуына -
                        амбулаториялық және (немесе) стационарлық емделуге
                        жұмсалған нақты шығыстар мөлшерiнде, бiрақ 300-ден
                        көп емес;<br/>
                        2) бір жәбірленушінің мүлкіне келтірілген зиян үшін -
                        келтірілген зиян мөлшерінде, бірақ 600-ден көп емес;<br/>
                        3) бір мезгілде екі және одан да көп жәбірленушінің
                        мүлкіне келтірілген зиян үшін - келтірілген зиян
                        мөлшерінде, бірақ әрбір жәбірленушіге 600-ден көп емес.
                        Бұл ретте сақтандыру төлемдерінің жалпы мөлшері
                        барлық жәбірленушіге 2000-нан аспауға тиіс. Зиян
                        мөлшері сақтандырушы жауапкершілігінің шекті
                        көлемінен асқан жағдайда сақтандыру төлемі әрбір
                        жәбірленушіге оның мүлкіне келтірілген зиянға
                        мөлшерлес дәрежеде жүзеге асырылады.<br/>
                        4. Қаза болуына немесе мүгедектiк белгiленуiне әкеп
                        соққан, жәбiрленушiнiң өмiрi мен денсаулығына
                        келтiрiлген зиян үшiн сақтандыру төлемi осы
                        талаптардың 3-тармағында белгiленген сақтандырушы
                        жауапкершiлiгiнiң шектi көлемiнiң мөлшерiнде жүзеге
                        асырылады.<br/>
                        5. Сақтандырушы сақтандыру төлемiн «Көлік
                        құралдары иелерінің азаматтық-құқықтық
                        жауапкершілігін міндетті сақтандыру туралы» 2003
                        жылғы 1 шілдедегі Қазақстан Республикасы Заңының
                        (бұдан әрі - Заң) 25-бабында көзделген құжаттарды алған
                        күннен бастап он бес жұмыс күнi iшiнде төлейдi.<br/>
                        6. Сақтанушы:<br/>
                        1) сақтандырушыдан көлiк құралдары иелерiнiң
                        жауапкершiлiгiн мiндеттi сақтандырудың талаптарын,
                        Шарт бойынша өзiнiң құқықтары мен мiндеттерiн
                        түсiндiрудi талап етуге;<br/>
                        2) сақтандыру бойынша бірыңғай дерекқорды
                        қалыптастыру және жүргiзу жөніндегі ұйымнан мiндетiне
                        сақтанушы жөніндегі мәлiметтердi бірыңғай дерекқорға
                        енгізу кiретiн сақтандырушының сақтанушымен
                        жасасқан көлiк құралдары иелерiнiң жауапкершiлiгiн
                        мiндеттi сақтандыру шарты туралы мәлiметтердiң
                        бірыңғай дерекқорда бар екендiгi туралы ақпаратты
                        сұратуға құқылы. Осы құқық сақтандырылған адамға да
                        қолданылады;<br/>
                        3) сақтандырушы жүргiзген, келтiрiлген зиян
                        мөлшерлерiн айқындаудың және сақтандырушы жүзеге
                        асырған сақтандыру төлемiнің нәтижелерiмен танысуға;<br/>
                        4) Шартты мерзiмiнен бұрын тоқтатуға;<br/>
                        5) көлік құралдары иелерінің жауапкершілігін
                        міндетті сақтандыру шартынан туындайтын мәселелерді
                        реттеу үшін осы Заңның 29-1-бабында көзделген
                        ерекшеліктерді ескере отырып сақтандырушыға не
                        сақтандыру омбудсманына немесе сотқа жүгінуге;<br/>
                        6) өтінішті және қоса берілетін құжаттарды
                        сақтандыру омбудсманына (тікелей сақтандыру
                        омбудсманына, оның ішінде оның интернет-ресурсы
                        арқылы не сақтандырушы, соның ішінде оның филиалы,
                        өкілдігі арқылы) жіберуге<br/>
                        7) сақтандыру төлемiн Заңда көзделген жағдайларда
                        алуға құқылы.<br/>
                        7. Сақтанушы:<br/>
                        1) Шартты жасасу кезiнде сақтандырушыға өзi,
                        сақтандыру полисiне енгiзiлген әрбiр сақтандырылушы,
                        көлiк құралы (көлiк құралдары), қосарланған сақтандыру,
                        көлiк құралдарын маусымдық пайдалану, Қазақстан
                        Республикасының аумағына уақытша кіру және осы
                        Заңда көзделген тәртiппен сақтандыру сыйлықақысының
                        мөлшерiн азайтуға берiлген құқық туралы өтiнiшке
                        енгізу үшiн қажеттi мәлiметтердi және өтiнiште
                        көрсетiлген мәлiметтердi растайтын қажеттi құжаттардың
                        көшiрмелерiн ұсынуға;<br/>
                        2) Шартта белгiленген мөлшерде, тәртiппен және
                        мерзiмдерде сақтандыру сыйлықақыларын төлеуге;<br/>
                        3) көлік оқиғасының және сақтандыру жағдайының
                        басталғаны туралы өзiне белгiлi болғаннан бастап
                        кiдiрiссiз, бiрақ үш жұмыс күнiнен кешiктiрмей, қолдан
                        келетiн тәсiлмен (ауызша, жазбаша) бұл туралы Шартты
                        жасасқан caқтандырушыға хабарлауға мiндеттi. Ауызша
                        нысандағы хабарлама кейiннен (жетпiс екi сағат iшiнде)
                        жазбаша түрде расталуға тиiс. Сақтанушы мен
                        сақтандырылушы бiр тұлға болып табылмайтын
                        жағдайларда, сақтандыру жағдайының басталғаны
                        туралы сақтандырушыға хабарлау жөніндегі мiндет
                        сақтандырылушыға жүктеледi. Егер сақтанушының
                        (сақтандырылушының) дәлелдi себептермен аталған iсәрекеттердi орындау мүмкiндiгi болмаса, ол мұны
                        құжаттармен растауға тиiс;<br/>
                        4) көлiк оқиғасын жасаған кезде жәбiрленушілерге
                        және жол жүру қауіпсіздігін қамтамасыз ету жөніндегі
                        уәкілетті органның қызметкерлерiне Шартты жасасқан
                        сақтандырушының атауын және орналасқан жерiн
                        хабарлауға;<br/>
                        5) көлiк оқиғасы болған кезде ықтимал шығындарды
                        болдырмау немесе азайту үшiн қалыптасқан мәнжайларға ақылға қонымды және қолдан келетiн
                        шараларды, оның iшiнде зардап шеккен адамдардың
                        мүлкiн құтқару және оларға көмек көрсету шараларын
                        қолдануға;<br/>
                        6) көлiк оқиғасы және зардап шеккен адамдар туралы
                        тиiстi органдар мен ұйымдарға олардың құзыретiне қарай
                        (жол жүру қауіпсіздігін қамтамасыз ету жөніндегі
                        уәкілетті органның бөлiмшелерiне, мемлекеттік өртке
                        қарсы қызмет органдарына, медициналық жедел жәрдем
                        қызметiне, авариялық қызметтерге) хабарлауға;<br/>
                        7) көлік оқиғасы жасалған кезде дереу, бірақ уәкілетті
                        лауазымды тұлғаның жазбаша жолдамасын алған кезден
                        бастап екі сағаттан кешіктірмей, Қазақстан Республикасы
                        заңнамасының талаптарына сәйкес психикаға белсенді
                        әсер ететін затты тұтыну фактісін және мас күйін
                        анықтау үшін медициналық куәландырудан өтуге;<br/>
                        8) сақтандырушыға сақтандыру жағдайының
                        басталғаны туралы хабарлаған күннен бастап дереу, бiрақ
                        екi жұмыс күнiнен кешiктiрмей бұл туралы
                        жәбiрленушiге хабарлауға;<br/>
                        9) сақтандыру жағдайының басталуына жауапты
                        адамға керi талап қою құқығының сақтандырушыға өтуiн
                        қамтамасыз етуге мiндеттi.<br/>
                        8. Сақтандырушы:<br/>
                        1) Шартты жасаған кезде сақтанушыдан, Қазақстан
                        Республикасының Азаматтық кодексiнде көзделген
                        мәлiметтерден басқа, Заңға сәйкес Шартқа енгізу үшiн
                        қажетті мәлiметтердi, оның iшiнде көлiк құралдары
                        иелерiнiң жауапкершілігiн мiндеттi сақтандырудың
                        осының алдындағы шарттары, сақтандыру жағдайлары
                        және сақтандыру төлемдерi туралы ақпаратты беруiн
                        талап етуге;<br/>
                        2) тиiстi мемлекеттік органдар мен ұйымдардан,
                        олардың құзыретiне орай, сақтандыру жағдайының
                        басталу фактiсiн және жәбiрленушiлерге келтiрiлген
                        зиянның мөлшерiн растайтын құжаттарды сұратуға;<br/>
                        3) көлік оқиғасының себептерін және өзге де мәнжайларын анықтауға;<br/>
                        4) Заңның 28-бабында көзделген жағдайларда, зиян
                        келтiргенi үшiн жауапты тұлғаға, керi талап қоюға;<br/>
                        5) Заңның 29-бабында көзделген негiздер бойынша
                        сақтандыру төлемiн жүзеге асырудан, сондай-ақ 26-1-
                        бабында көзделген тәртіппен келтірілген зиянды өтеуден
                        толық немесе iшiнара бас тартуға құқылы.<br/>
                        9. Сақтандырушы:<br/>
                        1) caқтанушыны (сақтандырылушыны) көлiк
                        құралдары иелерiнiң жауапкершiлiгiн мiндеттi
                        сақтандыру талаптарымен таныстыруға, оның Шарттан
                        туындайтын құқықтары мен мiндеттерiн түсiндiруге;<br/>
                        2) Заңның 20-бабы 1-тармағының бiрiншi бөлiгiнде
                        аталған адамдарға сақтандыру сыйлықақыларын төлеу
                        жөнiнде жеңiлдiк жасауға;<br/>
                        3) көлiк оқиғасы туралы хабар алынған кезде оны
                        дереу тiркеуге;<br/>
                        4) жәбiрленушiнiң немесе Қазақстан
                        Республикасының заңдарына сәйкес жәбiрленушiнiң
                        қайтыс болуына байланысты зиянды өтеткiзуге құқығы
                        бар адамдардың жазбаша өтiнiшiн алған күнiнен бастап
                        жұмыс күнi iшiнде сақтандыру жағдайын растайтын
                        құжат болған кезде көлiк оқиғасына кiнәлi болып
                        табылатын сақтанушының сақтандыру полисiнiң
                        (сақтанушының тегi, аты, әкесiнiң аты (ол бар болса),
                        көлiк құралын тiркеудiң мемлекеттік нөмiрi, нөмiрi және
                        берiлген күнi) бар екендiгi туралы жазбаша мәлiметтi
                        беруге;<br/>
                        5) осы Заңда белгіленген мерзімдерде және тәртіппен,
                        сақтанушының (сақтандырылушының) не
                        жәбірленушінің (пайда алушының) немесе олардың
                        өкілдерінің мүлікке келтірілген зиянның мөлшерін
                        айқындау туралы өтініші бойынша мүлікке келтірілген
                        зиянның мөлшеріне есептеу жүргізуге және зиянның
                        мөлшері туралы есепті пайда алушыға танысу үшін
                        ұсынуға;<br/>
                        6) сақтандыру жағдайы басталған кезде сақтандыру
                        төлемiн Заңда белгiленген мөлшерде, тәртiппен және
                        мерзiмдерде жасауға;<br/>
                        7) келтірілген зиянды өтеу туралы Заңның 26-1-
                        бабында көзделген тәртіппен жазбаша талаппен өтініш
                        берген кезде келтірілген зиянды Заңда белгіленген
                        мөлшерде, тәртіппен және мерзімде өтеуге;<br/>
                        8) сақтанушыға (сақтандырылушыға) олардың
                        сақтандыру жағдайы кезiнде шығындарды болдырмау
                        немесе азайту мақсатымен жұмсаған шығыстарын өтеуге;<br/>
                        9) сақтандыру құпиясын қамтамасыз етуге мiндеттi.<br/>
                        10) сақтанушыдан (жәбірленушіден, пайда алушыдан)
                        өтініш алған кезде бес жұмыс күні ішінде сақтанушының
                        (жәбірленушінің, пайда алушының) талабын қарауға
                        және дауды одан әрі реттеу тәртібін көрсете отырып,
                        жазбаша жауап беруге;<br/>
                        11) сақтанушыдан (жәбірленушіден, пайда алушыдан)
                        сақтандыру омбудсманына жіберілетін өтінішті алған
                        кезде осы өтінішті, сондай-ақ оған қоса берілетін
                        құжаттарды алынған күнінен бастап үш жұмыс күні
                        ішінде сақтандыру омбудсманына қайта жіберуге.<br/>
                        10. Егер Қазақстан Республикасы жасасқан
                        халықаралық шартта өзгеше көзделмесе, Шарттың
                        қолданылуы Қазақстан Республикасының аумағымен
                        шектеледi<br/>
                        11. Сақтанушы (пайда алушы) өзінің заңды
                        құқықтары мен мүдделерін қорғау үшін Сақтандыру
                        омбудсманға жүгінуге құқылы.
                    td.
                        1. Объектом обязательного страхования гражданскоправовой ответственности владельцев транспортных
                        средств является имущественный интерес
                        застрахованного лица, связанный с его обязанностью,
                        установленной гражданским законодательством
                        Республики Казахстан, возместить вред, причиненный
                        жизни, здоровью и (или) имуществу третьих лиц в
                        результате эксплуатации транспортного средства как
                        источника повышенной опасности.<br/>
                        2. Страховым случаем признается факт наступления
                        гражданско-правовой ответственности застрахованного
                        по возмещению вреда, причиненного жизни, здоровью и
                        (или) имуществу лиц, признанных потерпевшими, в
                        результате эксплуатации застрахованным транспортного
                        средства, указанного в договоре обязательного
                        страхования гражданско-правовой ответственности
                        владельцев транспортных средств (далее - Договор).<br/>
                        3. Предельный объем ответственности страховщика
                        по одному страховому случаю (страховая сумма)
                        составляет (в месячных расчетных показателях):<br/>
                        1) за вред, причиненный жизни или здоровью
                        каждого потерпевшего и повлекший:<br/>
                        гибель – 2000;<br/>
                        установление инвалидности:<br/>
                        І группы – 1600;<br/>
                        II группы – 1200;<br/>
                        III группы – 500;<br/>
                        «ребенок-инвалид» – 1000;<br/>
                        увечье, травму или иное повреждение здоровья без
                        установления инвалидности - в размере фактических
                        расходов на амбулаторное и (или) стационарное лечение,
                        но не более 300;<br/>
                        2) за вред, причиненный имуществу одного
                        потерпевшего, – в размере причиненного вреда, но не
                        более 600;<br/>
                        3) за вред, причиненный одновременно имуществу
                        двух и более потерпевших, – в размере причиненного
                        вреда, но не более 600 каждому потерпевшему. При этом
                        общий размер страховых выплат всем потерпевшим не
                        может превышать 2000. В случае превышения размера
                        вреда над предельным объемом ответственности
                        страховщика страховая выплата каждому потерпевшему
                        осуществляется соразмерно степени вреда,
                        причиненного его имуществу.<br/>
                        4. Страховая выплата за вред, причиненный жизни и
                        здоровью потерпевшего, повлекший гибель или
                        установление инвалидности, осуществляется в размере
                        предельного объема ответственности страховщика,
                        установленного пунктом 3 настоящих условий.<br/>
                        5. Страховая выплата производится страховщиком в
                        течение пятнадцати рабочих дней со дня получения им
                        документов, предусмотренных статьей 25 Закона
                        Республики Казахстан от 1 июля 2003 года «Об
                        обязательном страховании гражданско-правовой
                        ответственности владельцев транспортных
                        средств» (далее - Закон).<br/>
                        6. Страхователь вправе:<br/>
                        1) требовать от страховщика разъяснения условий
                        обязательного страхования ответственности владельцев
                        транспортных средств, своих прав и обязанностей по
                        Договору;<br/>
                        2) запросить от организации по формированию и
                        ведению единой базы данных по страхованию
                        информацию о наличии в единой базе данных по
                        страхованию сведений о Договоре, заключенном
                        страхователем со страховщиком, в обязанности которого
                        входит внесение сведений по нему в единую базу
                        данных по страхованию. Данное право распространяется
                        также на застрахованного;<br/>
                        3) ознакомиться с результатами определения
                        размеров причиненного вреда, произведенного
                        страховщиком, и страховой выплаты, осуществленной
                        страховщиком;<br/>
                        4) досрочно прекратить Договор;<br/>
                        5) обратиться к страховщику с учетом особенностей,
                        предусмотренных статьей 29-1 Закона, либо страховому
                        омбудсману или в суд для урегулирования вопросов,
                        возникающих из договора обязательного страхования
                        ответственности владельцев транспортных средств;
                        6) направить заявление и прилагаемые документы
                        страховому омбудсману (напрямую страховому
                        омбудсману, в том числе через его интернет-ресурс,
                        либо через страховщика, в том числе его филиал,
                        представительство<br/>
                        7) получить страховую выплату в случаях,
                        предусмотренных Законом.<br/>
                        7. Страхователь обязан:<br/>
                        1) при заключении Договора представить
                        страховщику сведения о себе, каждом застрахованном,
                        включенном в страховой полис, транспортном
                        (транспортных) средстве (средствах), двойном
                        страховании, сезонной эксплуатации транспортного
                        средства, временном въезде на территорию Республики
                        Казахстан и праве на уменьшение размера страховой
                        премии в порядке, предусмотренном Законом,
                        необходимые для внесения в заявление и копии
                        необходимых документов, подтверждающих сведения,
                        указанные в заявлении;<br/>
                        2) уплачивать страховые премии в размере, порядке и
                        сроки, которые установлены Договором;<br/>
                        3) незамедлительно, но не позднее трех рабочих дней,
                        как ему стало известно о наступлении транспортного
                        происшествия и страхового случая, уведомить об этом
                        страховщика, с которым заключен Договор, доступным
                        способом (устно, письменно). Сообщение в устной
                        форме должно быть в последующем (в течение
                        семидесяти двух часов) подтверждено письменно. В
                        случаях, когда страхователь и застрахованный не
                        являются одним и тем же лицом, то обязанность по
                        информированию страховщика о наступлении
                        транспортного происшествия и страхового случая
                        возлагается на застрахованного. Если страхователь
                        (застрахованный) по уважительным причинам не имел
                        возможности выполнить указанные действия, он должен
                        подтвердить это документально;<br/>
                        4) при совершении транспортного происшествия
                        сообщить потерпевшим и сотрудникам
                        уполномоченного органа по обеспечению безопасности
                        дорожного движения наименование и место нахождения
                        страховщика, с которым заключен Договор;<br/>
                        5) при совершении транспортного происшествия
                        принять разумные и доступные в сложившихся
                        обстоятельствах меры, чтобы предотвратить или
                        уменьшить возможные убытки, в том числе меры к
                        спасению имущества и оказанию помощи пострадавшим
                        лицам;<br/>
                        6) сообщить в соответствующие органы и
                        организации исходя из их компетенции (подразделения
                        уполномоченного органа по обеспечению безопасности
                        дорожного движения, органы государственной
                        противопожарной службы, службу скорой медицинской
                        помощи, аварийные службы) о транспортном
                        происшествии и пострадавших лицах;<br/>
                        7) при совершении транспортного происшествия
                        незамедлительно, но не позднее двух часов с момента
                        получения письменного направления уполномоченного
                        должностного лица пройти медицинское
                        освидетельствование для установления факта
                        употребления психоактивного вещества и состояния
                        опьянения в соответствии с требованиями
                        законодательства Республики Казахстан;<br/>
                        8) незамедлительно, но не позднее двух рабочих дней
                        со дня сообщения страховщику о наступлении
                        страхового случая уведомить об этом потерпевшего;<br/>
                        9) обеспечить переход к страховщику права
                        обратного требования к лицу, ответственному за
                        наступление страхового случая.<br/>
                        8. Страховщик вправе:<br/>
                        1) при заключении Договора, кроме сведений,
                        предусмотренных Гражданским кодексом Республики
                        Казахстан, требовать от страхователя предоставления
                        сведений, необходимых для внесения в Договор в
                        соответствии с Законом, в том числе информации о
                        предшествующих договорах обязательного страхования
                        ответственности владельцев транспортных средств,
                        страховых случаях и страховых выплатах;<br/>
                        2) запрашивать у соответствующих государственных
                        органов и организаций, исходя из их компетенции,
                        документы, подтверждающие факт наступления
                        страхового случая и размер вреда, причиненного
                        потерпевшим;<br/>
                        3) устанавливать причины и иные обстоятельства
                        транспортного происшествия;<br/>
                        4) предъявлять право обратного требования лицу,
                        ответственному за причинение вреда, в случаях,
                        предусмотренных статьей 28 Закона;<br/>
                        5) отказать в осуществлении страховой выплаты, а
                        также возмещении причиненного вреда в порядке,
                        предусмотренном статьей 26-1 Закона, полностью или
                        частично по основаниям, предусмотренным статьей 29
                        Закона.<br/>
                        9. Страховщик обязан:<br/>
                        1) ознакомить страхователя (застрахованного) с
                        условиями обязательного страхования ответственности
                        владельцев транспортных средств, разъяснить его права
                        и обязанности, возникающие из Договора;<br/>
                        2) предоставить льготу по уплате страховой премии
                        лицам, указанным в части первой пункта 1 статьи 20
                        Закона;<br/>
                        3) при получении сообщения о транспортном
                        происшествии незамедлительно зарегистрировать его;<br/>
                        4) в течение рабочего дня с даты получения
                        письменного обращения потерпевшего или лица,
                        имеющего согласно законам Республики Казахстан
                        право на возмещение вреда в связи со смертью
                        потерпевшего, письменно представить сведения о
                        наличии страхового полиса (фамилия, имя, отчество (при
                        его наличии) страхователя, государственный номер
                        регистрации транспортного средства, номер и дата
                        выдачи) у страхователя, являющегося виновником
                        транспортного происшествия, при наличии документа,
                        подтверждающего страховой случай;<br/>
                        5) в сроки и порядке, которые установлены
                        настоящим Законом, по заявлению об определении
                        размера вреда, причиненного имуществу, страхователя
                        (застрахованного) либо потерпевшего
                        (выгодоприобретателя) или их представителей провести
                        расчет размера вреда, причиненного имуществу, и
                        представить отчет о размере вреда на ознакомление
                        выгодоприобретателю;<br/>
                        6) при наступлении страхового случая произвести
                        страховую выплату в размере, порядке и сроки, которые
                        установлены Законом;<br/>
                        7) при обращении с письменным требованием о
                        возмещении причиненного вреда в порядке,
                        предусмотренном статьей 26-1 Закона, произвести
                        возмещение причиненного вреда в размере, порядке и
                        сроки, установленные Законом;<br/>
                        8) возместить страхователю (застрахованному)
                        расходы, понесенные им в целях предотвращения или
                        уменьшения убытков при страховом случае;<br/>
                        9) обеспечить тайну страхования.<br/>
                        10) при получении от страхователя (потерпевшего,
                        выгодоприобретателя) заявления рассмотреть
                        требования страхователя (потерпевшего,
                        выгодоприобретателя) и предоставить письменный ответ
                        с указанием дальнейшего порядка урегулирования спора
                        в течение пяти рабочих дней;<br/>
                        11) при получении от страхователя (потерпевшего,
                        выгодоприобретателя) заявления, направляемого
                        страховому омбудсману, перенаправить данное
                        заявление, а также прилагаемые к нему документы
                        страховому омбудсману в течение трех рабочих дней со
                        дня получения.<br/>
                        10. Действие Договора ограничивается территорией
                        Республики Казахстан, если иное не предусмотрено
                        международным договором, заключенным Республикой
                        Казахстан.<br/>
                        11. Страхователь (выгодоприобретатель) вправе
                        обратиться к Страховому омбудсману за защитой своих
                        законных прав и интересов.